<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" style="background: #1F2D41; color: white" th:text="${titulo}"></div>
			<div class="card-body">

				<img th:if="${empleado.foto != null}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${empleado.foto}}" th:alt="${empleado.foto}" />

				<ul class="list-group">
					<li class="list-group-item" th:text="${empleado.nombre}"></li>
					<li class="list-group-item" th:text="${empleado.apellido}"></li>
					<li class="list-group-item" th:text="${empleado.dpi}"></li>
					<li class="list-group-item" th:text="${empleado.fechaNacimiento}"></li>
					<li class="list-group-item" th:text="${empleado.telefono}"></li>
					<li class="list-group-item" th:text="${empleado.sueldo}"></li>
					<li class="list-group-item" th:text="${empleado.getSucursal().getNombre()}"></li>
				</ul>

			</div>
		</div>
		
		<a class="btn btn-danger btn-xs float-right" th:href="@{'/empleados/detalle-empleado/' + ${empleado.id}(format=pdf)}" style="margin: 20px">Generar PDF</a>
		<a class="btn btn-success btn-xs float-right" th:href="@{'/empleados/detalle-empleado/' + ${empleado.id}(format=xlsx)}" style="margin: 20px">Generar EXCEL</a>
		
		<br></br>
		</div>
	
	

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>